.container-fluid .card:hover{
    background-color:#aaa;
}

.moviepanel{
    position:relative;
    min-height:220px;
}

.imagebottom{
    position:absolute;
    bottom:0px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}