<h2>Dashboard</h2>

<div class="card">
    <div class="card-heading m-2">
        <h3>Search movie</h3>
    </div>
    <div class="card-body m-l-1">
        <input type="text" #txtinput (keypress)="onKey($event)" appAutofocus> 
        <button type="button" (click)="searchMovie(txtinput.value)" class="btn btn-primary">Search</button>
        <button type="button" (click)="getMovieDetails(txtinput.value)">Details</button>
    </div>
</div>
<div class="container-fluid">
    <span *ngIf="searching"><fa name="spinner" animation="spin" *ngIf="!result.imageUrl"></fa></span>
    <div class="row">
        <div *ngFor="let result of results" class="col-md-2 text-center card m-2 hoverable" (click)="onSelect(result)"><div><div  class="card-title">{{ result.movie.title }}</div>
            <fa name="spinner" animation="spin" *ngIf="!result.imageUrl"></fa>
            <img class="img-responsive text-center" src="{{ result.imageUrl }}"><br/>
            <span>{{ result.movie.year }}</span>
        </div>
    </div>
</div>